<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>首页</title>
<link rel="stylesheet" href="/common/css/base.css">
<link rel="stylesheet" href="/index/index.css">
</head>
<body>
<div class="container">
	<%- include('./widgets/header') -%>
	<div class="content">
		<% if(result.length){ %>
			<% for(var article of result){ %>
			<section>
				<dl class="blog_panel clearfix">
					<dt>
						<img src="<%= article.author.picture %>" alt="博主头像" width="96" height="96">
						<span class="name"><%= article.author.name %></span>
					</dt>
					<dd>
						<h3><a href="/blog/detail/<%= article.id %>"><%= article.title %></a></h3>
						<p><%= article.shortIntroduction %></p>
						<div class="blog_data">发表时间：<%= article.createTimeDate %>&nbsp;&nbsp;查看人数：<%= article.lookCount %></div>
					</dd>
				</dl>
			</section>
			<% } %>
		<% }else{ %>
			<p>没一人发表帖子……</p>
		<% } %>
	</div>
</div>
</body>
</html>