<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>
<% if(typeof title !== 'undefined'){ %>
	<%= title %>
<% }else{ %>
	我的博客
<% } %>
</title>
<link rel="stylesheet" href="/common/css/base.css">
<link rel="stylesheet" href="/blog/myblog.css">
</head>
<body>
<div class="container">
	<%- include('../widgets/header') -%>
	<div class="content">
		<% if(typeof author !== 'undefined'){ %>
		<dl class="author">
			<dt>博主：</dt>
			<dd><a href="/blog/user/<%= author.id %>"><img src="<%= author.picture %>" alt="博主头像" width="20" height="20"></a><a href="/blog/user/<%= author.id %>"><%= author.name %></a></dd>
		</dl>
		<% }else{ %>
		<a href="/blog/publish.html" class="publish_btn">发布文章</a>
		<% } %>
		<% if(result.length){ %>
		<ul class="blog_list clearfix">
			<% for(var article of result){ %>
			<li>
				<h3><a href="/blog/detail/<%= article.id %>"><%= article.title %></a></h3>
				<p><%= article.shortIntroduction %></p>
				<div class="blog_data">发表时间：<%= article.createTimeDate %>&nbsp;&nbsp;查看人数：<%= article.lookCount %></div>
			</li>
			<% } %>
		</ul>
		<% }else{ %>
			<% if(typeof author !== 'undefined'){ %>
			<div class="no_blog">博主还没发表过文章哦！</div>
			<% }else{ %>
			<div class="no_blog">您还没发表过文章哦！</div>
			<% } %>
		<% } %>
	</div>
</div>
</body>
</html>